@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
body {
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  background-color: #FDEBD7;
}

.container-medium {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-mini {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button, textarea {
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
}

button, input[type="submit"] {
  background: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-family: inherit;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.button {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 7px;
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
  cursor: pointer;
}

.button.primary {
  background-color: #5C3233;
  color: #fff;
}

.button.primary:hover {
  background-color: #7d4949;
}

.button.outlined {
  border: 1px solid #5C3233;
  color: #5C3233;
}

.button:hover {
  background-color: rgba(92, 50, 51, 0.1);
}

.button:active {
  -webkit-transform: scale(98%);
          transform: scale(98%);
}

.button + .button {
  margin-left: 5px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  color: #5C3233;
  text-align: center;
  margin-top: 30px;
  padding: 10px 0;
  border-top: 1px solid #5C3233;
  border-bottom: 1px solid #5C3233;
}

.block_form_input + .block_form_input {
  margin-top: 10px;
}

.block_form_input h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.block_form_input textarea {
  min-width: 100%;
  max-width: 100%;
}

.form_input {
  width: 100%;
  padding: 15px 25px;
  border: 1px solid transparent;
  border-radius: 7px;
  color: #5C3233;
  font-size: 18px;
  line-height: 18px;
}

.form_input:hover {
  border-color: #5C3233;
}

.form_input:focus {
  border-color: #5C3233;
}

.questionNumber {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}

.question {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 15px 0;
}

.logOut {
  font-size: 12px;
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
    line-height: 24px;
  }
  .question {
    font-size: 16px;
  }
}

.header {
  background-color: #3A211A;
}

.header_img {
  height: 150px;
  background-image: url("./../img/header-fon.jpg");
  background-repeat: no-repeat;
}

.header_block {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.header_block h1 {
  max-width: 350px;
  font-size: 16px;
  line-height: 22px;
  margin-left: 15px;
  color: #5C3233;
}

@media (max-width: 1200px) {
  .header {
    background-color: transparent;
  }
  .header_img {
    display: none;
  }
  .header_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.login {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.login_form {
  margin-top: 30px;
  padding: 0 15px;
}

.login_form_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.reg {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.reg_form {
  margin-top: 30px;
  padding: 0 15px;
}

.reg_form_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.createTask {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.createTask_form {
  margin-top: 30px;
  padding: 0 15px;
}

.createTask_form_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

.createTask_form_option .button {
  padding: 5px 50px;
}

.createTask_form_answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.createTask_form_answers_input {
  width: 49%;
  position: relative;
  margin-bottom: 20px;
}

.createTask_form_answers_input-text {
  width: 100%;
  padding: 10px 15px 10px 55px;
  border-radius: 7px;
  color: #5C3233;
  font-size: 18px;
  line-height: 18px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.createTask_form_pincode_input {
  font-family: 'Montserrat', sans-serif;
  max-width: 130px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 7px;
  color: #5C3233;
  font-size: 26px;
  line-height: 18px;
}

.createTask_form_answers_input-checkReal {
  display: none;
}

.createTask_form_answers_input-checkReal:checked + .createTask_form_answers_input-checkFalse::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 12px;
  left: 12px;
  background-image: url("./../img/elements/success-white.svg");
  background-repeat: no-repeat;
}

.createTask_form_answers_input-checkReal:checked + .createTask_form_answers_input-checkFalse::after {
  content: "Это правильный ответ";
  display: inline-block;
  position: absolute;
  font-size: 11px;
  color: #04bb04;
  width: 150px;
  top: 100%;
}

.createTask_form_answers_input-checkReal:checked ~ .createTask_form_answers_input-text {
  background-color: #5C3233;
  color: #fff;
}

.createTask_form_answers_input-checkFalse {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.15);
          box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.15);
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.createTask_form_fotoLoad-fileReal {
  display: none;
}

.createTask_form_fotoLoad-fileFalse {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  padding: 10px 45px;
  border-radius: 7px;
  border: 1px solid #5C3233;
  color: #5C3233;
  cursor: pointer;
}

.createTask_form_fotoLoad-fileFalse:hover {
  opacity: 0.8;
}

.createTask_button-add {
  display: inline-block;
}

.pincodeBlock {
  margin-top: 35px;
  font-family: 'Montserrat', sans-serif;
}

.pincodeBlock_answer {
  width: 100%;
  height: 62px;
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 10px;
  border-radius: 7px;
  background-color: #5C3233;
  color: #fff;
  text-align: center;
}

.pincodeBlock_items {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
}

.pincodeBlock_items_number {
  width: 80px;
  height: 80px;
  font-size: 38px;
  color: #fff;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  margin-bottom: 13px;
  background-color: #5C3233;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.pincodeBlock_items_number:hover {
  opacity: 0.9;
}

.pincodeBlock_items_number:active {
  -webkit-transform: scale(95%);
          transform: scale(95%);
}

.test .question {
  text-align: center;
}

.test_img {
  width: 100%;
  border-radius: 7px;
  margin-top: 15px;
}

.test_form {
  font-family: 'Montserrat', sans-serif;
  margin-top: 15px;
}

.test_form_answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test_form_answers_one {
  width: 100%;
  font-size: 16px;
  border-radius: 7px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.15);
          box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.15);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 15px 30px;
  position: relative;
}

.test_form_answers_one:hover {
  background-color: #5C3233;
  color: #fff;
}

.test_form_answers_one:active {
  -webkit-transform: scale(98%);
          transform: scale(98%);
}

.test_form_answers_one::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  display: inline;
  background-color: #FDEBD7;
  border-radius: 50%;
  top: calc(50% - 4px);
  left: 13px;
}

.test_form_answers_one::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  display: inline;
  background-color: #FDEBD7;
  border-radius: 50%;
  top: calc(50% - 4px);
  right: 13px;
}

.test_form_answers_one + .test_form_answers_one {
  margin-top: 15px;
}

.nameRoom {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.resultWindow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  padding: 10px;
}

.content_resultWindow {
  position: relative;
  max-width: 600px;
  max-height: 700px;
  background-color: #e8e8e8e6;
  border: 5px solid #5C3233;
  padding: 10px;
  border-radius: 20px;
}

.info_resultWindow {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.title_info_resultWindow {
  font-weight: 700;
  color: #5C3233;
  font-size: 34px;
}

.text_info_resultWindow {
  margin: 15px;
  color: #5C3233;
  font-size: 18px;
}

.icon_close_resultWindow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

@media (max-width: 420px) {
  .text_info_resultWindow {
    margin: 20px;
  }
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.error-img {
  margin: 20px 0;
  width: 300px;
  height: 300px;
}

.error-text {
  font-size: 18px;
  max-width: 600px;
  text-align: center;
  margin-top: 50px;
}

.error-text a {
  text-decoration: underline;
  color: blue;
}

@media (max-width: 500px) {
  .error-img {
    width: 150px;
    height: 150px;
  }
}
/*# sourceMappingURL=main.css.map */