.createTask{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.createTask_form{
    margin-top: 30px;
    padding: 0 15px;
}

.createTask_form_option{
    display: flex;
    justify-content: center;
    margin: 15px 0;

    .button{
        padding: 5px 50px;
    }
}

// for answer form 
.createTask_form_answers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.createTask_form_answers_input{
    width: 49%;
    position: relative;

    margin-bottom: 20px;
}

.createTask_form_answers_input-text{
    width: 100%;

    padding: 10px 15px 10px 55px;
    border-radius: $main-radius;
    color: $brown;
    font-size: 18px;
    line-height: 18px;
    transition: all 0.6s;
}
// --> for answer form  //


// for pincode form
.createTask_form_pincode{

}

.createTask_form_pincode_input{
    font-family: 'Montserrat', sans-serif;
    max-width: 130px;

    padding: 5px 10px;
    text-align: center;
    border-radius: $main-radius;
    color: $brown;
    font-size: 26px;
    line-height: 18px;
}

// --> for pincode form  //



.createTask_form_answers_input-checkReal{
    display: none;

    &:checked + .createTask_form_answers_input-checkFalse{
        // background-color: $brown;

        &::before{
            content: "";
            display: inline-block;
            position: absolute;

            width: 18px;
            height: 18px;
            top: 12px;
            left: 12px;

            background-image: url('./../img/elements/success-white.svg');
            background-repeat: no-repeat;
        }

        &::after{
            content: "Это правильный ответ";
            display: inline-block;
            position: absolute;

            font-size: 11px;
            color: rgb(4, 187, 4);
            
            width: 150px;
            top: 100%;

        }
    }

    &:checked ~ .createTask_form_answers_input-text{
        background-color: $brown;
        color: #fff;
    }
}
.createTask_form_answers_input-checkFalse{
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.15);
    border-radius: $main-radius;
    cursor: pointer;

    transition: all 0.5s;
}

.createTask_form_fotoLoad{
}

.createTask_form_fotoLoad-fileReal{
    display: none;
}
.createTask_form_fotoLoad-fileFalse{
    display: inline-block;
    font-size: 16px;
    line-height: 22px;

    padding: 10px 45px;
    
    border-radius: $main-radius;
    border: 1px solid $brown;
    color: $brown;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}

.createTask_button-add{
    display: inline-block;
}